.isi h2 { 
    text-align: center;
    letter-spacing: 0.5cm;
    font-family :'abril fatface', serif;
    font-size : 30px;
    text-decoration: underline; 
  
}
.gambar img {
    float:left;
    background-position: center center;
    padding-left:2.5cm;
    padding-right: 0.5cm;
    padding-top: 0.5cm;
    width: 200px;
}
.gambar {
    padding-left:2cm;
}
.gambar p {
    padding-top:0.5cm;
}
